<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>AdminX</title>

  <!--icheck-->
  <link href="js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="css/clndr.css" rel="stylesheet">

  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="js/morris-chart/morris.css">

  <!--common-->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">




  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">
			<div class="media logged-user">
				<img alt="" src="images/photos/user-avatar.png" class="media-object">
				<div class="media-body">
					<h4><a href="#">纸鸢</a></h4>
					<span>"业务运维"</span>
				</div>
			</div>
			<!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>系统状态</span></a></li>
                <li><a href="add_host2.html"><i class="fa fa-plus"></i> <span>机器列表</span></a></li>
				<li><a href="task.html"><i class="fa fa-star"></i> <span>执行作业</span></a></li>
				<li><a href="pushfile.html"><i class="fa fa-cloud-download"></i> <span>下发文件</span></a></li>
				<li><a href="pullconf.html"><i class="fa fa-th-list"></i> <span>配置管理</span></a></li>
				<li><a href="shells.html"><i class="fa fa-list-alt"></i> <span>脚本管理</span></a></li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >
		<div class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn menu-collapsed"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->

        <!--search start-->
        
        <!--search end-->

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
				<!-- 警告提示开始-->
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">4</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">提示</h5>
                        <ul class="dropdown-list normal-list">
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">2.2.2.2(广东电信) 报错.  </span>
                                    <em class="small">34 mins</em>
                                </a>
                            </li>
                            <li class="new">
                                <a href="">
                                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                    <span class="name">1.1.1.1(上海联通) #3 异常.  </span>
                                    <em class="small">1 hrs</em>
                                </a>
                            </li>
                            <li class="new"><a href="">查看所有报警</a></li>
                        </ul>
                    </div>
                </li>
				<!-- 警告提示结束-->
				
				<!-- 用户信息开始-->
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="images/photos/user-avatar.png" alt="">
                        纸鸢
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="#"><i class="fa fa-user"></i>  信息</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i>  设置</a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> 退出</a></li>
                    </ul>
                </li>
				<!-- 用户信息结束-->

            </ul>
        </div>
        <!--notification menu end -->

        </div>
		
		<div class="wrapper">
		  <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            主机列表
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <table class="table  table-hover general-table">
                                <thead>
                                <tr>
                                    <th> IP</th>
                                    <th class="hidden-phone">描述</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>
                                        <a href="#">
                                            123.222.112.222
                                        </a>
                                    </td>
                                    <td class="hidden-phone">广东节点</td>
                                    <td><span class="label label-warning label-mini">报警</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            123.222.112.223
                                        </a>
                                    </td>
                                    <td class="hidden-phone">广东节点</td>
                                    <td><span class="label label-success label-mini">正常</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#">123.222.112.227</a></td>
                                    <td class="hidden-phone">广东节点</td>
                                    <td><span class="label label-info label-mini">任务</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            123.222.112.224
                                        </a>
                                    </td>
                                    <td class="hidden-phone">广东节点</td>
                                    <td><span class="label label-danger label-mini">紧急</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#">123.222.112.226</a></td>
                                    <td class="hidden-phone">广东节点</td>
                                    <td><span class="label label-primary label-mini">等待</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            123.222.112.225
                                        </a>
                                    </td>
                                    <td class="hidden-phone">广东节点</td>
                                    <td><span class="label label-warning label-mini">警告</span></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
      </div>
		
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="js/easypiechart/jquery.easypiechart.js"></script>
<script src="js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="js/sparkline/jquery.sparkline.js"></script>
<script src="js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="js/iCheck/jquery.icheck.js"></script>
<script src="js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="js/flot-chart/jquery.flot.js"></script>
<script src="js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="js/morris-chart/morris.js"></script>
<script src="js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="js/calendar/clndr.js"></script>
<script src="js/calendar/evnt.calendar.init.js"></script>
<script src="js/calendar/moment-2.2.1.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>



</body>
</html>
